.w_container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 240px;
  padding: 20px 30px 40px 30px;
  margin: 0 auto 10px auto;
  text-align: center;
  border: 1px solid #ddd;
}
.w_button {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 40px;
    padding: 6px 15px;
    margin: 0 5px 10px 0;
    border: 1px solid transparent;
    /*background: 388ed1;
    //#013ca6;            */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0) inset;
    border-radius: 0.4em;
    transition-property: background, border-color, color, box-shadow, opacity;
    transition-duration: .15s;
    white-space: pre;
}

.w_font {
    font-size: 1.5rem;
    font-weight: bold;
}

.w_dict {
    font-size:14pt;
    padding:1em;
}
.w_dict td {
     padding: 0.3em;

}

.w_filt_img img {
     float: right;
     margin-left: 1em;
}

.w_tile {
     border: 1px solid #a4bed4;
     border-radius: 3px;
     padding: 0.2em;
     background-color: #e2e2f2;
     width: 20.1rem;
     margin: 0.2em;
}

.w_tile .wsplrtl-radio.caption {
     font-weight: bold;
     color: #254582;
     text-shadow: 0px -1px 0px rgba(255,255,255,.5);
}

/* @note radio styling */
.w_tile input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

.w_tile input[type='checkbox'] {
      -webkit-appearance:none;
  width:18px;
  height:18px;
  border:1px solid darkgray;
  /*border-radius:50%;*/
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

.w_tile input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

.w_tile input[type='checkbox']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

.w_tile input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

.w_tile input[type='checkbox']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  /*border-radius:50%; */
}

.w_tile input[type='radio']:checked:before {
  background:green;
}

.w_tile input[type='checkbox']:checked:before {
    background:green;
    }
/* @note radio styling ends here */

.w_zoom {
  padding: 1px;
  /* background-color: green;  */
  transition: transform .2s; /* Animation */
  width: inherited;
  height: inherited;
  margin: 0 auto;
}

.w_zoom:hover {
  transform: scale(2.5); /* (250% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.w_chart_dark {
  background-color: #5daed9; /*#3daee9;#e2e2f2;#f6f6f5;#525252;*/
}

.flexplay {
    display: flex;
}

.flexgrow100 {
    flex-grow: 100;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.w_radio input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}


.w_radio input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

.w_radio input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

.w_radio input[type='radio']:checked:before {
  background:green;
}

.w_disabled {
  background-color: #eee;
  opacity: 0.4;
  cursor: not-allowed;
}
